<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <title>Ana Sayfa</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-md 33, navbar-static-top" style=" background-color: #eeeeee;">
        <div class="col-sm-3" style="text-align: center;">
        <a class="navbar-brand" href="#" style="font-size: 16pt;" >M. TARIK ÖZTOPRAK</a>
        </div>
        <div class="col-sm-2"></div>
        
        <div class="col-sm-3" style="text-align: center;">
            <form class="form-inline">
                <input class="form-control"  style="width: 75%;" type="search" placeholder="Ara" aria-label="Search" >
                <button class="btn btn-outline-success" onclick="Ara()">Ara</button>
            </form>
        </div>
        <div class="col-sm-2"></div>
     
        <div class="col-sm-2" style="text-align: center;">
            <a href="https://www.linkedin.com/in/muhammet-tar%C4%B1k-%C3%B6ztoprak-12b68a173/"><img src="linkedin.png" width="48" height="48"></a>
            <a href="https://github.com/TarikOztoprak"><img src="github.png" width="48" height="48"></a>
        </div>
    </nav>
        
        <div class="row" style="overflow-y: hidden;">
            
            <div class="col-sm-3" style="padding-left: 30px; padding-right: 30px;">
                
            </div>
           
            <div class="col-sm-6">
                <br>
                <br>
                <div style=" margin-bottom: 50px; padding-left: 5px; padding-right: 5px;" >
                    <p id="blogNumarasi" style="float: right; font-style: italic; color:gray;"></p>
                    <h2 id="baslik" style="text-align: center;"></h2> 
                    <img id="resim" style="margin-bottom: 15px;" width="100%">
                    <p id="içerik" style="text-align: justify;"> 
                    </p> 
                    <p id="tarih" style="float: right;"></p>
                    <br> <br>
                    <button id="geri" onclick="öncekiBlog()">Önceki Blog</button>
                    <button id="ileri" style="float: right;" onclick="sonrakiBlog()">Sonraki Blog</button>
                </div>
                
                
            </div>
            <div class="col-sm-2">
                <br> <br> <br> <br>
                <div style="background-color:darkgray; padding-left: 10px; padding-right: 10px;">
                    <h2 style="text-align: center;">Başlıklar</h2>
                <br>
                <p  class="all-bar" id="all-bar"></p>
                <a href="#" style="float: left;">←Geri←</a>
                <a href="#" style="float: right;">→İleri→</a> 
                <p><br></p>
                </div>
            </div>
            <div class="col-sm-1"></div>

    </div>

      <script src="script.js"></script>
</body>
</html>