<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="script.js"></script>

    <title>Ana Sayfa</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-md 33, navbar-static-top" style=" background-color: #eeeeee;">
        <div class="col-sm-3"  style="text-align: center;">
        <a class="navbar-brand" href="#" style="font-size: 20pt;" >M. TARIK ÖZTOPRAK</a>
        </div>
        <div class="col-sm-4"  style="text-align: center;">
        <a href="#" style="margin-right: 5px;"> Ana Sayfa </a>
        <a href="#" style="margin-right: 5px;"> Web Geliştirme </a>
        <a href="#" style="margin-right: 5px;"> Oyun </a>
        <a href="#" style="margin-right: 5px;"> Film </a>
        <a href="#" style="margin-right: 5px;"> Hakkımda </a>
        </div>
      
        <div class="col-sm-3" style="text-align: center;">
            <form class="form-inline">
                <input class="form-control"  style="width: 80%;" type="search" placeholder="Ara" aria-label="Search" >
                <button class="btn btn-outline-success" type="submit">Ara</button>
            </form>
        </div>
        <div class="col-sm-2" style="text-align: center;">
            <a href="https://www.linkedin.com/in/muhammet-tar%C4%B1k-%C3%B6ztoprak-12b68a173/"><img src="linkedin.png" width="48" height="48"></a>
            <a href="https://github.com/TarikOztoprak"><img src="github.png" width="48" height="48"></a>
        </div>

    </nav>
    
    <div class="row">
          <div class="col-sm-3">
        
          </div>
   
         <div class="col-sm-6">
            <br>
            <br>
            
            <div style=" margin-bottom: 50px;">
                <h2 style="text-align: center;">İlk Blog ve Kaydırma Çubuğu(Scroll Bar) Kapatma</h2> 
                <img src="example.jpg" style="margin-bottom: 15px;" width="100%">
                <p style="text-align: justify;"> &emsp; Kendime bir blog sitesi yazarak frontend ve backend bilgilerimi geliştirebileceğimi düşündüm. İşe yaradı da!
                Ama bloğuma yazacağım içeriği hiç düşünmemiştim. Bugün, öğrendiğim ve daha sonra unutmak istemediğim bazı püf noktalarını
                yazmaya karar verdim ve bu ilk bloğumu yazmaya başladım. <br> <br>
                &emsp; Bloğumunda gereksiz bir şekilde yatay kaydırma çubuğu
                (scroll bar) bulunmaktaydı ve sitemi çirkin göstermekteydi. Meğer basit bir css koduyla çözülebilmekteymiş. kod: <br>
                <div style="color: red;">overflow-x: hidden;</div> x ekseninde kaydırma çubuğuna kapatır.
                <div style="color: red;">overflow-x: hidden;</div> y ekseninde kaydırma çubuğunu kapatır.
                <div style="color: red;" >overflow: hidden</div> yaparsak hem x hem de y yönünde kaydırma çubuğunu kapatır. <br>
                &emsp; Bu kodu css body içine ekleyerek sorunumu çözdüm.
                </p> 
                <p style="float: right;">21.06.2020</p>
            </div>
         
         </div>

          <div class="col-sm-3">
            
          </div>
      </div>
</body>
</html>