<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TakoRPG3</title>
</head>
<body style="background-color: gray;">
    <center><h1>TakoRPG3</h1></center>
    <div style="background-color: blue;">
        <center><h3>Karakter</h3></center>
        <table style="width: 100%">
            <tr>
                <td>
                    CAN 
                </td>
                
                <td>
                    <input type="text" name="can" id="can" readonly>
                </td>
                
                <td>
                    GÜÇ 
                </td>

                <td>
                    <input type="text" name="guc" id="guc" readonly>
                </td>
                <td>
                    ZIRH 
                </td>

                <td>
                    <input type="text" name="zirh" id="zirh" readonly> 
                </td>
            </tr>

            <tr>
                <td>
                    CAN BONUSU 
                </td>
                <td>
                    <input type="text" name="canbonusu" id="canbonusu" readonly>
                </td>

                <td>
                    GÜÇ BONUSU
                </td>
                <td>
                    <input type="text" name="gucbonusu" id="gucbonusu" readonly>
                </td>

                <td>
                    ZIRH BONUSU
                </td>
                <td>
                    <input type="text" name="zirhbonusu" id="zirhbonusu" readonly> 
                </td>
            </tr>

            <tr>
                <td>
                    KRİTİK İHTİMALİ 
                </td>

                <td>
                    <input type="text" name="kritikihtimali" id="kritikihtimali" readonly>
                </td>

                <td>
                    KRİTİK BONUSU 
                </td>
                <td>
                    <input type="text" name="kritikbonusu" id="kritikbonusu" readonly>
                </td>

                <td>
                    SIVIŞMA İHTİMALİ 
                </td>
                <td>
                    <input type="text" name="sıvışmaihtimali" id="sıvışmaihtimali" readonly> 
                </td>
            </tr>

            <tr>
                <td>
                    CİFT VURUS İHTİMALİ 
                </td>
                <td>
                    <input type="text" name="ciftvurus" id="ciftvurus" readonly>
                </td>

                <td>
                    ÜÇ VURUS İHTİMALİ 
                </td>
                <td>
                    <input type="text" name="ucvurus" id="ucvurus" readonly>
                </td>
                <td>
                    BEŞ VURUS İHTİMALİ
                </td>
                <td><input type="text" name="ucvurus" id="ucvurus" readonly></td>
            </tr>

            <tr>
                <td>
                    SEVİYE
                </td>
                <td>
                    <input type="text" name="seviye" id="seviye" readonly>
                </td>

                <td>
                    PARA
                </td>
                <td>
                    <input type="text" name="para" id="para" readonly>
                </td>
                <td>
                    TECRÜBE
                </td>
                <td><input type="text" name="tecrübe" id="tecrübe" readonly></td>
            </tr>
        </table>
    </div>
    <div style="background-color: chartreuse;">
        <center><h3>YETENEKLER</h3></center>
        <P id="yetenek puani" style="float: right;"> Yetenek Puani 0</P>
        <table style="width: 100%; height: 80px;">
            <tr>
                <td>
                    CAN BONUSU
                </td>
                <td>
                    GÜÇ BONUSU
                </td>
                <td>
                    ZIRH BONUSU
                </td>
                <td>
                    KRİTİK İHTİMALİ
                </td>
                <td>
                    KRİTİK HASARI
                </td>
                <td>
                    SIVIŞMA İHTİMALİ
                </td>
                <td>
                    ÇİFT VURUS İHTİMALİ
                </td>
                <td>
                    UC VURUS İHTİMALİ
                </td>
                <td>
                    BES VURUS İHTİMALİ
                </td>
            </tr>

            <tr>
                <td>
                    <button>GELİŞTİR</button>
                </td>
                <td>
                    <button>GELİŞTİR</button>
                </td>
                <td>
                    <button>GELİŞTİR</button>
                </td>
                <td>
                    <button>GELİŞTİR</button>
                </td>
                <td>
                    <button>GELİŞTİR</button>
                </td>
                <td>
                    <button>GELİŞTİR</button>
                </td>
                <td>
                    <button>GELİŞTİR</button>
                </td>
                <td>
                    <button>GELİŞTİR</button>
                </td>
                <td>
                    <button>GELİŞTİR</button>
                </td>
            </tr>

            <tr>
                <td>
                   Seviye = 0
                </td>
                <td>
                    Seviye = 0
                </td>
                <td>
                    Seviye = 0
                </td>
                <td>
                    Seviye = 0
                </td>
                <td>
                    Seviye = 0
                </td>
                <td>
                    Seviye = 0
                </td>
                <td>
                    Seviye = 0
                </td>
                <td>
                    Seviye = 0
                </td>
                <td>
                    Seviye = 0
                </td>
            </tr>
        </table>
    </div>
    <div style="background-color: darkgreen;">
    <center><h3>Mağaza</h3></center>  
    <table style="width: 100%;">
        <tr>
            <td>
                $$$
            </td>
            <td>
                Can +50
            </td>
  
            <td>
                GÜÇ +10
            </td>

            <td>
                ZIRH +5
            </td>
            <td>
                $$$
            </td>
        </tr>

        <tr>
            <td>
                $$$
            </td>
            <td>
                <button>SATIN AL</button>
            </td>
  
            <td>
                <button>SATIN AL</button>
            </td>

            <td>
                <button>SATIN AL</button>
            </td>
            <td>
                $$$
            </td>
        </tr>

        <tr>
            <td>
                $$$
            </td>
            <td>
                FİYAT = 
            </td>
  
            <td>
                FİYAT =
            </td>

            <td>
                FİYAT =
            </td>
            <td>
                $$$
            </td>
        </tr>
    </table>
</div>

</body>
</html>