.navigator{
    min-width: 0vw;
    height: 100vw;
 
    background: #dddddd;
    position: fixed;
    
}
.butt
{
    float: left;
    background-color: #dddddd;
    border-color: #dddddd;
    visibility: visible;
    
}
a{
    color: black;
}
a:hover {
text-decoration: none;
color: #333333;
}
body{
    background-color: #dddddd;
    margin: 0;
    overflow-x: hidden;
}