
.butt
{
    background-color: #dddddd;
    border-color: #dddddd;
    font-family: "Times New Roman";
}

body{
    background-color: #dddddd;
    margin: 0;
    overflow-x: hidden;
    width: 100%;

}

.all-bar
{
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    
}
a:hover
{
    color: unset;
    text-decoration: wavy;
}
