.App {
  float: left;
  min-width: 100vw;
  
}

.Side-bar{
  float: left;
  width: 40vw;
  min-height: 100vh;
  background-color: gray;
  text-align: center;
  background-image: url("./picture/background.jpg");
  background-size: cover;
  border-style: solid;
  border-width: 0;
  border-right-width: 5px;
  border-color: lightblue;
  font-size: calc(6px + 2vmin);
  color: white;
  position: relative;
}
.Profil{
 
  width: 15vw;
  height: 15vw;
  border-radius: 100vw;
  border-style: solid;
  border-width: 5px;
  border-color: lightblue;
  margin-top: 5vh;
}

.Social-media{
  width: 5vw;
  height: 5vw;
  min-width: 64px;
  min-height: 64px;
}

.Projects{
  width: 59vw;
  float: left;
  text-align: center;
}

.Project-image{
  width: 60%;
}


.Projects-button{
  background-color: #008CBA;
  width: 5vw;
  height: 5vw;
  font-size: calc(8pt + 2vw);
  color: white;
  border: none;
  margin: 5px;
}

@media only screen and (max-width: 600px) {

  .Side-bar{
    width: 100vw;
  }

  .Project-image{
    width: 100%;
  }

  .Projects{
    width: 100vw;
  }

  .Profil{
 
    width: 30vw;
    height: 30vw;

  }

  
.Projects-button{
  background-color: #008CBA;
  width: 5vh;
  height: 5vh;
  font-size: calc(8pt + 2vh);
 
}

}
