.Side-bar{
  float: left;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: gray;
  text-align: center;
  background-image: url("./picture/background.jpg");
  background-size: cover;
  font-size: calc(6px + 2vmin);
  color: white;
 
}
.Profil{
 
  width: 15vw;
  height: 15vw;
  border-radius: 100vw;
  border-style: solid;
  border-width: 5px;
  border-color: lightblue;
  margin-top: 5vh;
}

.Social-media{
  width: 5vw;
  height: 5vw;
  min-width: 64px;
  min-height: 64px;
}

.Projects{
  float: left;
  text-align: center;
  min-height: 100vh;
  background: rgb(173,216,230);
  background: linear-gradient(172deg, rgba(173,216,230,1) 0%, rgba(173,216,230,1) 50%, rgba(34,62,122,1) 100%);
}

.Project-image{
  width: 60%;
}


.Projects-button{
  background-color: #008CBA;
  width: 5vw;
  height: 5vw;
  font-size: calc(8pt + 2vw);
  color: white;
  border: none;
  margin: 5px;
}
.Projects-button:hover{
  animation-name: background-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes background-color {
  100% {
    background-color: rgb(1, 8, 97);
  }
}


@media only screen and (max-width: 576px) {

  .Side-bar{
    border-right-width: 0px;
  }

  .Profil{
    width: 30vw;
    height: 30vw;
  }

  
.Projects-button{
  background-color: #008CBA;
  width: 5vh;
  height: 5vh;
  font-size: calc(8pt + 2vh);
 
}

}
